<header class="header">
  <div class="container header-wrap">
    <nav class="header-nav">
      <a class="header-logo" href="./index.html">
        <span class="header-logo-text">thewatchspot</span>
      </a>
      <ul class="header-nav-list">
        <li>
          <a class="header-nav-link" href="#about-us">about us</a>
        </li>
        <li>
          <a class="header-nav-link" href="#catalog">catalog</a>
        </li>
        <li>
          <a class="header-nav-link" href="#sale">sale</a>
        </li>
      </ul>
    </nav>
    <a class="header-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
    <button type="button" class="header-menu-btn js-open-menu">
      <svg width="20" height="14">
        <use href="./img/symbol-defs.svg#menu-open"></use>
      </svg>
    </button>
  </div>
</header>
