<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="logo link" href="./index.html">
        <!-- <img src="../img/mobile/header/logo-png.png" alt="logo" />
        <span>thewatchspot</span> -->
        <svg class="logo-svg" width="19" height="19">
          <use href="../img/symbol-defs.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="link nav-item-link" href="#about-us">about us</a>
        </li>
        <li class="nav-item">
          <a class="link nav-item-link" href="#catalog">catalog</a>
        </li>
        <li class="nav-item">
          <a class="link nav-item-link" href="#sale">sale</a>
        </li>
      </ul>
    </nav>
    <address>
      <button class="header-tel" type="button">
        <a class="link header-tel-link" href="tel:+380684439426"
          >+380 (68) 443-94-26</a
        >
      </button>
    </address>
    <button type="button" class="header-menu-btn btn">
      <svg class="header-menu-icon" width="20" height="14">
        <use href="../img/symbol-defs.svg#menu-open"></use>
      </svg>
    </button>
  </div>
  <div class="back"></div>
</header>
<svg class="" width="19" height="19">
  <use href="../img/symbol-defs.svg#icon-logo"></use>
</svg>
