


<header class="header">
  <div class="container">
    <div class="header-container">
      <nav class="header-nav">
        <a class="logo link" href="./index.html">
          <span class="logo-text">thewatchspot</span>
        </a>
        <ul class="nav-list">
          <li class="nav-item">
            <a class="link nav-item-link" href="#about-us">about us</a>
          </li>
          <li class="nav-item">
            <a class="link nav-item-link" href="#catalog">catalog</a>
          </li>
          <li class="nav-item">
            <a class="link nav-item-link" href="#sale">sale</a>
          </li>
        </ul>
      </nav>
      <address class="header-tel">
        <a class="link header-tel-link" href="tel:+380684439426"
          >+380 (68) 443-94-26</a
        >
      </address>
      <button type="button" class="header-menu-btn btn js-open-menu">
        <svg class="header-menu-icon" width="20" height="14">
          <use href="./img/symbol-defs.svg#menu-open"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
