<section class="hero">
  <div class="container">
    <div class="hero-wrapp">
      <h1 class="hero-title animate__animated animate__lightSpeedInRight">
        Welcome to our collection of premium watches
      </h1>
      <div class="hero-slider">
        <div class="swiper mySwiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./img/tablet/hero/slider/img1.jpg    1x,
                    ./img/tablet/hero/slider/img1@2x.jpg 2x
                  "
                  media=" (min-width:768px)"
                />
                <source
                  srcset="
                    ./img/mobile/hero/slider/img1.jpg    1x,
                    ./img/mobile/hero/slider/img1@2x.jpg 2x
                  "
                  media="(max-width:767px)"
                />
                <img
                  width="266"
                  src="./img/mobile/hero/slider/img1.jpg "
                  alt="watch"
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./img/tablet/hero/slider/img2.jpg    1x,
                    ./img/tablet/hero/slider/img2@2x.jpg 2x
                  "
                  media=" (min-width:768px)"
                />
                <source
                  srcset="
                    ./img/mobile/hero/slider/img2.jpg    1x,
                    ./img/mobile/hero/slider/img2@2x.jpg 2x
                  "
                  media="(max-width:767px)"
                />
                <img
                  width="266"
                  src="./img/mobile/hero/slider/img2.jpg "
                  alt="watch"
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./img/tablet/hero/slider/img3.jpg    1x,
                    ./img/tablet/hero/slider/img3@2x.jpg 2x
                  "
                  media=" (min-width:768px)"
                />
                <source
                  srcset="
                    ./img/mobile/hero/slider/img3.jpg    1x,
                    ./img/mobile/hero/slider/img3@2x.jpg 2x
                  "
                  media="(max-width:767px)"
                />
                <img
                  width="266"
                  src="./img/mobile/hero/slider/img3.jpg "
                  alt="watch"
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./img/tablet/hero/slider/img4.jpg    1x,
                    ./img/tablet/hero/slider/img4@2x.jpg 2x
                  "
                  media=" (min-width:768px)"
                />
                <source
                  srcset="
                    ./img/mobile/hero/slider/img4.jpg    1x,
                    ./img/mobile/hero/slider/img4@2x.jpg 2x
                  "
                  media="(max-width:767px)"
                />
                <img
                  width="266"
                  src="./img/mobile/hero/slider/img4.jpg "
                  alt="watch"
                />
              </picture>
            </li>
            <li class="swiper-slide">
              <picture>
                <source
                  srcset="
                    ./img/tablet/hero/slider/img5.jpg    1x,
                    ./img/tablet/hero/slider/img5@2x.jpg 2x
                  "
                  media=" (min-width:768px)"
                />
                <source
                  srcset="
                    ./img/mobile/hero/slider/img5.jpg    1x,
                    ./img/mobile/hero/slider/img5@2x.jpg 2x
                  "
                  media="(max-width:767px)"
                />
                <img
                  width="266"
                  src="./img/mobile/hero/slider/img5.jpg "
                  alt="watch"
                />
              </picture>
            </li>
          </ul>
        </div>
        <div class="slider-navigation">
          <div class="slider-buttons">
            <button class="slider-button button-prev" type="button">
              <svg width="18" height="18">
                <use href="./img/symbol-defs.svg#chevron-left"></use>
              </svg>
            </button>
            <button class="slider-button button-next" type="button">
              <svg width="18" height="18">
                <use href="./img/symbol-defs.svg#chevron-right"></use>
              </svg>
            </button>
          </div>
          <div class="slider-numbers"></div>
        </div>
      </div>
      <div class="hero-content">
        <p class="hero-txt">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <picture
        class="hero-pic"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <source
          srcset="
            ./img/desktop/hero/hero.jpg    1x,
            ./img/desktop/hero/hero@2x.jpg 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./img/tablet/hero/hero.jpg    1x,
            ./img/tablet/hero/hero@2x.jpg 2x
          "
          media=" (min-width:768px)"
        />
        <source
          srcset="
            ./img/mobile/hero/hero.jpg    1x,
            ./img/mobile/hero/hero@2x.jpg 2x
            ./img/mobile/hero/hero.webp    1x,
            ./img/mobile/hero/hero@2x.webp 2x
          "
          media="(max-width:767px)"
        />
        <img src="./img/mobile/hero/hero.jpg" alt="watch" width="335" />
      </picture>
    </div>
  </div>
</section>
