
<div class="mobile-menu js-menu-container">
  <div class="header-mobile-menu">
    <a href="">
      <span class="logo-span">thewatchspot</span>
    </a>

    <button type="button" class="mobile-close-btn js-close-menu">
      <svg width="24" height="24">
        <use href="./images/symbol-defs.svg#menu-close"></use>
      </svg>
    </button>
  </div>
  <ul class="mobile-menu-nav">
    <li class="mobile-menu-list menu-box-link">
      <a href="#about">About us</a>
    </li>
    <li class="mobile-menu-list menu-box-link">
      <a href="#catalog">Catalog</a>
    </li>
    <li class="mobile-menu-list menu-box-link"><a href="#sale"> Sale</a></li>
  </ul>
</div>


