<section class="sale sale-container">
  <h2 class="title-sale">Sale</h2>
  <div class="sale-box">
    <div class="sale-watch">
      <div class="sale-watch-aspect">
        <ul class="list-sale-watch">
          <li class="item-sale-watch">
            <img
              alt="watch"
              srcset="
                ./img/mobile/sale/watch1.png     80w,
                ./img/mobile/sale/watch1@2x.png 160w,
                ./img/tablet/sale/img1.png      146w,
                ./img/tablet/sale/img1@2x.png   292w
              "
              sizes="(max-width: 767px) 80px, (min-width: 768px) 146px"
              src="./img/mobile/sale/watch1.png"
            />
          </li>
          <li class="item-sale-watch">
            <img
              alt="watch"
              srcset="
                ./img/mobile/sale/watch2.png     80w,
                ./img/mobile/sale/watch2@2x.png 160w,
                ./img/tablet/sale/img2.png      146w,
                ./img/tablet/sale/img2@2x.png   292w
              "
              sizes="(max-width: 767px) 80px, (min-width: 768px) 146px"
              src="./img/mobile/sale/watch2.png"
            />
          </li>
          <li class="item-sale-watch">
            <img
              alt="watch"
              srcset="
                ./img/mobile/sale/watch3.png     80w,
                ./img/mobile/sale/watch3@2x.png 160w,
                ./img/tablet/sale/img3.png      146w,
                ./img/tablet/sale/img3@2x.png   292w
              "
              sizes="(max-width: 767px) 80px, (min-width: 768px) 146px"
              src="./img/mobile/sale/watch3.png"
            />
          </li>
          <li class="item-sale-watch">
            <img
              alt="watch"
              srcset="
                ./img/mobile/sale/watch4.png     80w,
                ./img/mobile/sale/watch4@2x.png 160w,
                ./img/tablet/sale/img4.png      146w,
                ./img/tablet/sale/img4@2x.png   292w
              "
              sizes="(max-width: 767px) 80px, (min-width: 768px) 146px"
              src="./img/mobile/sale/watch4.png"
            />
          </li>
        </ul>
      </div>
      <div class="sale-watch-big">
        <img
          alt="watch"
          srcset="
            ./img/mobile/sale/big1.png    235w,
            ./img/mobile/sale/big1@2x.png 470w,
            ./img/tablet/sale/big.png     406w,
            ./img/tablet/sale/big@2x.png  812w
          "
          sizes="(max-width: 767px) 235px, (min-width: 768px) 406px"
          src="./img/mobile/sale/big1.png"
        />
      </div>
    </div>
    <div class="sale-description">
      <div class="sale-product">
        <h3 class="product-name">Greenlane Watch By Police For MenHT</h3>
        <p class="product-tag">Product tag: PEWJK2227003</p>
        <div class="sale-price">
          <p class="price-second">€700</p>
          <p class="price-first">€1000</p>
        </div>
      </div>
      <div class="description">
        <h3 class="title-description">Description</h3>
        <p class="text-description">
          Richly detailed with an understated design - the Police Men’s
          Greenlane watch features a versatile multifunction design that fits
          effortlessly into work and play. The steel case is adorned with a
          semi-transparent black dial. The timepiece exhibits a contrast through
          a black IP bracelet with matching crown and pushers.
        </p>
      </div>
      <div class="featurestion">
        <h3 class="title-featurestion">DETAILS & FEATURESTION</h3>
        <ul class="detals-featurestion">
          <li>Gender: man</li>
          <li>Size: 46x54.5mm</li>
          <li>Case Colour: Steel</li>
          <li>Band Material: Metal</li>
          <li>Case Material: Metal</li>
          <li>Features: Multifunction</li>
          <li>Water Resistant: 5 (ATM)</li>
          <li>Band Colour: Steel</li>
        </ul>
      </div>
    </div>
  </div>
</section>
