.header {
  width: 100%;
  position: absolute;
  padding-top: 29px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: var(--text-white);
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo-text::before {
  content: "";
  width: 14px;
  height: 14px;
  display: block;
  background-image: url(../img/logo-cr.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.header-logo {
  display: block;
  padding: 5px 0;
  transition: 200ms linear;
}

.header-logo:is(:hover, :focus) {
  scale: 1.4;
  text-shadow: 0 0 5px var(--text-white);
}

.header-logo:active {
  scale: 1;
}

.header-nav-list,
.header-tel {
  display: none;
}

.header-menu-btn {
  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
}

/* ============================TABLET & DESKTOP=============== */
@media screen and (min-width: 768px) {

  .header {
    padding-top: 20px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-logo {
    padding: 14px 0;
  }

  .header-logo-text {
    font-size: 15px;
  }

  .header-logo-text::before {
    width: 19px;
    height: 19px;
  }

  .header-nav-list {
    display: flex;
    gap: 40px;
    margin-left: 80px;
  }

  .header-nav-link,
  .header-tel {
    font-size: 9px;
    font-style: normal;
    line-height: calc(12 / 9);
    text-transform: uppercase;
    color: var(--text-white);
    transition: 150ms linear;
  }

  .header-nav-link {
    display: block;
    padding: 18px 0;
  }

  .header-nav-link:is(:hover, :focus, :active) {
    scale: 2 1.5;
    text-shadow: 0 0 5px var(--text-white);
  }

  .header-tel {
    display: block;
    padding: 18px 36px;
    margin-left: auto;
    background-color: var(--bg-btn);
    border-radius: 8px;
  }

  .header-tel:is(:hover, :focus) {
    outline: 1px solid var(--text-white);
    scale: 1.2;
    text-shadow: 0 0 2px var(--text-white);
  }

  .header-tel:active {
    transform: translateY(3px);
    scale: 1;
  }

  .header-menu-btn {
    display: none;
  }
}

/* =====================================DESKTOP=============== */