/* js slider */
@import 'swiper/css/bundle';
.hero{
    font-family: 'Epilogue', sans-serif;
    background-color:#141414;
    padding-top: 122px;
    padding-bottom: 40px;
}
.hero img{
    width: 100%;
}
.hero .container{
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
.hero-title{
    font-weight: 600;
    font-size: 38px;
    line-height: 1.05;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin-bottom: 60px;
}
.hero-slider{
   max-width: 266px;
   margin-bottom: 40px;
}
.mySwiper{    
    margin: 0 0 20px;
}
.slider-navigation{
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
.slider-buttons{
    display: flex;
    gap: 12px;
}
.slider-button{
    width: 32px;
    height: 32px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    background-color: transparent;
}
.slider-numbers{
    color: #FFFFFF
}
.hero-content{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}
.hero-txt{
    max-width: 248px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #FFFFFF; 
}
@media screen and (min-width:375px){
    
}
@media screen and (min-width:768px){
    .hero-wrapp{
        display: flex;
        flex-wrap: wrap;
    }
    .hero-content{
        max-width: 248px;
        align-items: center;
    }
    .hero-txt{
        max-width: 100%;
    }
   .hero .container{
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .hero-title{
        font-size: 60px;
        line-height: 1.03;
    }
    .slider-button{
        width: 40px;
        height: 40px;
    }
    .hero-slider{
        max-width: 436px;
        margin-right: 20px;
    }
}
@media screen and (min-width:1280px){
    .hero .container{
        max-width: 1176px;
        padding: 0;
    }
    .hero-title{
         order: -2;
         max-width: 750px;
         margin-right: 144px;
         margin-bottom: 43px;  
    }
     .hero-content{
        order: -1;
        max-width: 282px;
        margin-bottom: 43px;  
    }
     .hero-slider{
        margin-right: 64px;
        margin-bottom: 0;
     }
     .hero-pic{
        max-width: 676px;
     }
   
}