/* js slider */
@import 'swiper/css/bundle';
.hero{
    background-color:#141414;
    padding-top: 122px;
    padding-bottom: 40px;
}
.container{
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}
.hero-title{
    font-weight: 600;
    font-size: 38px;
    line-height: 1.05;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin-bottom: 60px;
}
.hero-txt{
    font-weight: 300;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.swiper-slide{
    background-color:;
}