
.new-watch {
  padding-top: 40px;
  padding-bottom: 40px;
}

.new-watch-first {
  margin-bottom: 8px;

  font-weight: 300;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.06em;

  color: rgba(20, 20, 20, 0.4);
}

.new-watch-second {
  margin-bottom: 40px;

  font-weight: 600;
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -0.02em;

  color:var(--main-color);
}



.new-watch-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


@media screen and (min-width: 768px) {
  .new-watch {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .new-watch-second {
    width: 448px;
    font-size: 40px;
    line-height: 1.1;
  }

  .new-watch-list {
    flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .new-watch {
    padding-top: 80px;
    padding-bottom: 80px;

    background-color: var(--text-white);
  }

  .new-watch-second {
    margin-bottom: 80px;
  }

  .new-watch-list {
    gap: 24px;
  }
}


