.sale-watch {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.title-sale {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #141414;
  margin-bottom: 40px;
}

:first-child.item-sale-watch {
  background-color: var(--main-color);
}

.sale-watch-big {
  background-color: var(--main-color);
}

.item-sale-watch:not(:last-child) {
  margin-bottom: 10px;
}

.product-name {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #141414;
  margin-bottom: 8px;
}
.product-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
  margin-bottom: 16px;
}

.sale-price {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 40px;
}

.price-second {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: #141414;
}

.price-first {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-decoration-line: line-through;
  color: rgba(20, 20, 20, 0.5);
}

.description,
.featurestion {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.description::before,
.featurestion::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--main-color);
  margin-bottom: 8px;
}

.title-description,
.title-featurestion {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 17px;
}

.title-description::after,
.title-featurestion::after {
  content: '';
  width: 16px;
  height: 1px;
  background-color: var(--main-color);
}

.text-description,
.detals-featurestion {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: rgba(20, 20, 20, 0.5);
  text-align: left;
}

/*--------------------------------MEDIA---------------------------*/

@media screen and (min-width: 375px) {
  .sale-container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .sale-container {
    width: 612px;
    margin-left: auto;
    margin-right: auto;
  }

  .title-sale {
    position: relative;
    top: 0;
    left: -44px;
    font-size: 40px;
    line-height: 1.1;
  }
  .product-name {
    font-size: 35px;
    line-height: 1.05;
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1280px) {
  .sale-container {
    width: 1021px;
  }

  .sale-box {
    display: flex;
    gap: 40px;
  }
  .product-name {
    font-size: 38px;
    line-height: 1.05;
  }
  .sale-watch {
    margin-bottom: 0;
  }

  .sale-description {
    width: 369px;
  }
  .description {
    margin-bottom: 20px;
  }
  .detals-featurestion {
    margin-bottom: 0;
  }
  .featurestion {
    margin-bottom: 0;
  }
}
