
.sale {
 padding-bottom: 80px;
}

.sale-watch {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.title-sale {
  font-weight: 600;
  font-size: 32px;
  line-height:1.25;
  letter-spacing: -0.02em;
  color: #141414;
  margin-bottom: 40px;
}

:first-child.item-sale-watch {
  background-color: #141414;

}

.sale-watch-big {
  background-color: #141414;
}

.item-sale-watch:not(:last-child){
 margin-bottom: 10px;
} 

.product-name {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #141414;
  margin-bottom: 8px;
}

.product-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
  margin-bottom: 16px;
}

.sale-price {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 40px;
}

.price-second {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: #141414;
}

.price-first {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-decoration-line: line-through;
  color: rgba(20, 20, 20, 0.5);
}

.description {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px; 
}

.featurestion {
  display: flex;
  flex-wrap: wrap;
}

.description::before,
.featurestion::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #141414;
  margin-bottom: 8px;
}

.title-description,
.title-featurestion {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #141414;
    margin-bottom: 17px;
}

.title-description::after,
.title-featurestion::after {
  content: '';
  width: 16px;
  height: 1px;
  background-color: #141414;

}

.text-description,
.detals-featurestion {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  color: rgba(20, 20, 20, 0.5);
  text-align: left;
  
  }



/*--------------------------------MEDIA---------------------------*/

@media screen and (min-width: 768px) {
  .sale {
    padding-bottom: 128px;
  }
  
  .title-sale {
    font-size: 40px;
    line-height: 1.10;
  }

  .sale-box {
    width: 572px;
    margin: 0 auto;
  }
    
  .product-name {
      font-size: 35px;
      line-height: 1.05;
      margin-bottom: 8px;
    }
   
}


@media screen and (min-width: 1280px) {
  .sale{
    padding-bottom: 160px;
  }

  .title-sale {
    margin-bottom: 80px;
      
  }

  .sale-box{
    width: 981px;
    display: flex;
    gap: 40px;
  }

  .product-name {
    font-size: 38px;
    line-height: 1.05;
  }

  .sale-watch {
    margin-bottom: 0;
  }

  .sale-description {
     width: 369px;
  }

  .description {
    margin-bottom: 20px;
  }

  .detals-featurestion {
    margin-bottom: 0;
  }

  .featurestion {
    margin-bottom: 0;
  }
    
}

