@import url('./base/reset.css');
@import url('./base/fonts.css');
@import url('./base/value.css');
@import url('./base/general.css');
@import url('./header.css');
@import url('./mobile-menu.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./catalog.css');
@import url('./modal.css');
@import url('./new-watch.css');
@import url('./sale.css');
@import url('./footer.css');
@import url('./go_top.css');
